{% extends 'base.html' %}

{% url 'home' as home_url %}
{% url 'profiles' as profiles_url %}

{% load static %}

{% block content %}

<div class="container-sm">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-2">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="col-lg-6 col-md-8 col-12">
                    <button type="submit" class="btn btn-edit">Save Profile</button></div>
                {% if not user.profile.email_for_contact %}
                <div class="col-lg-6 col-md-8 col-12">
                    <a href="{% url 'home' %}" class="btn btn-edit" role="button">Discard Changes</a>
                    {% else %}
                    <a href="{% url 'profile_page' username=request.user.username %}" class="btn btn-edit"
                        role="button">Discard Changes</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}