{% extends 'base.html' %}
{% url 'profile_edit' as profile_edit_url %}
{% load static %}

{% block content %}
<div class="container-sm">
    <div class="row justify-content-center">
        <!-- <div class="col-12 col-md-4 text-center">
            {% if "placeholder" in post.featured_image.url %}
            <img src="{% static 'images/nobody.jpg' %}" alt="profile image" style="width: 75%;">
            {% else %}
            <img src=" {{ about.profile_image.url }}" alt="profile image" style="width: 75%;">
            {% endif %}
        </div> -->
        <div class="col-12 col-md-8 mb-2">
            <h3 class="mb-1">{{ profile.user }} - {{ profile.get_profile_type_display }}</h3>
            <h3>{{ profile.email_for_contact }}</h3>
        </div>
        <div class="col-12 col-md-8 pt-2">
            <h3>Profile Description</h3>
            <hr>
        </div>
        <div class="col-12 col-md-8">
            <p>{{ profile.bio | safe }}</p>
        </div>
        {% if user == profile.user %}
        <div class="col-12 col-md-8">
            <a href="{% url 'profile_edit' username=request.user.username %}" class="btn btn-edit" role="button">Edit Profile</a>
        </div>
        {% else %}
        <div class="col-12 col-md-8">
            <a href="" class="d-none" role="button"></a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}