{% extends 'base.html' %}

{% url 'home' as home_url %}
{% url 'profile' as profile_url %}

{% load static %}

{% block content %}

<div class="container">
    <form method="POST" class="row justify-content-center">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="col-lg-4 col-12">
            <button type="submit" class="btn btn-edit">Save Profile</button></div>
        {% if not user.profile.email_for_contact %}
        <div class="col-lg-4 col-12">
            <a href="{% url 'home' %}" class="btn btn-edit" role="button">Discard Changes</a>
            {% else %}
            <a href="{% url 'profile' %}" class="btn btn-edit" role="button">Discard Changes</a>
            {% endif %}
        </div>
    </form>
</div>

{% endblock content %}