{% extends 'base.html' %}
{% url 'profile_edit' as profile_edit_url %}
{% url 'add_cave' as add_cave_url %}
{% url 'user_caves' as users_caves_url %}

{% load static %}
{% load cloudinary %}

{% block content %}
<div class="container-fluid m-auto p-sm-x-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-10">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-6 col-md-4 mx-auto mb-3 py-0 align-self-center">
                    {% if profile.image and profile.image.url %}
                    <img src="{{ profile.image.url }}" alt="{{ profile.display_name }}'s profile image"
                        class="profile-pic img-fluid rounded-circle">
                    {% else %}
                    <img src="{% static 'images/nobody.jpg' %}" alt="{{ profile.display_name }}'s profile image"
                        class="profile-pic img-fluid rounded-circle">
                    {% endif %}
                </div>
                <div class="col-12 col-md-8 mb-3 mx-auto py-0 ml-auto align-self-center">
                    <h3 class="orange">{{ profile.display_name }}</h3>
                    <h3 class="orange">{{ profile.get_profile_type_display }}</h3>
                    <h4 class="grey">{{ profile.email_for_contact }}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-10">
            <div>
                <h4 class="grey">Profile Description</h4>
                <hr>
            </div>
            <div class="px-2">
                <p>{{ profile.bio | safe }}</p>
            </div>
        </div>
    </div>
    <div class="d-md-flex flex-row flex-shrink-1 align-items-center justify-content-center">
        <div class="m-2 text-center">
            {% if user == profile.user %}
            <a href="{% url 'profile_edit' username=request.user.username %}" class="btn btn-edit" role="button">Edit
                Profile</a>
            {% else %}
            <a href="" class="d-none" role="button"></a>
            {% endif %}
        </div>
        <div class="m-2 text-center">
            {% if user == profile.user %}
            <a href="{% url 'user_caves' username=profile.user.username %}" class="btn btn-edit" role="button">My
                Caves</a>
            {% else %}
            <a href="{% url 'user_caves' username=profile.user.username %}" class="btn btn-edit" role="button">User's
                Caves</a>
            {% endif %}
        </div>
        <div class="m-2 text-center">
            <a href="{% url 'add_cave' username=request.user.username %}" class="btn btn-edit"
                role="button">Register a Cave</a>
        </div>
    </div>

    {% endblock content %}