body {
    font: 'Inter', sans-serif;
    background-color: #F9FAFC;
}

footer p {
    font-size: .65em;
    color: #011a2e;
    padding-top: .85em;
}

footer a {
    color: #011a2e;
    font-size: 1.2em;
}

footer a:hover {
    color: #055da5;
}

.logo {
    height: 50px;
    width: 50px;
    background-size: contain;
    background-position: center;
    background-image: url("/static/images/logo-color.png");
}

.logo:hover {
    height: 50px;
    background-image: url("/static/images/logo-color-hover.png");
    transition: all 0.5s ease-out;
}

.navbar-brand {
    margin-left: 1em;
}

.navbar-toggler {
    padding: .2rem .5rem;
    font-size: 1.4rem !important;
    line-height: 1 !important;
    border: 2px solid #727272 !important;
}

.nav-link {
    color: #011a2e;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 500;
}

.nav-link:hover {
    color: #ffaa72;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}

.nav-pills .nav-link {
    border-radius: .85rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fcfcfc;
    background-color: #ff6600;
}

.btn {
    color: #fcfcfc;
}

.btn:hover {
    color: #ff6600;
}

.btn-image {
    color: #fcfcfc;
    background-color: #ff6600;
    border-radius: .85rem;
    max-width: 40%;
}

.btn-signup,
.btn-edit {
    color: #fcfcfc;
    background-color: #ff6600;
    border-radius: .85rem;
}

.btn-image:hover,
.btn-signup:hover,
.btn-edit:hover {
    color: #ff6600;
    background-color: #fcfcfc;
    outline: 1px solid #ff6600
}

.btn-signup:hover,
.btn-signup:hover {
    color: #ff6600;
    background-color: #fcfcfc;
}

.link {
    color: #ff6600 !important;
}

.link:hover {
    color: #011a2e !important;
}

.form-control {
    display: block;
    width: 80%;
    line-height: 1.5;
    color: #011a2e;
    background-color: #fcfcfc;
}

.container {
    padding-bottom: 12px;
}

.footer-bg {
    background-color: #555453;
}

.main-bg {
    background-color: #fdfdfd;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

hr {
    height: 2px;
    margin: 0 !important;
    color: #555453;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0 !important;
}

.orange {
    color:#E84610
}

.grey {
    color:#555453;
}

.profile-pic {
    border: 5px solid #E84610;
    min-height: 80px;
    min-width: 80px;
    max-height: 180px;
    max-width: 180px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    filter: drop-shadow(0px 2px 2px #555453);
}

.form-control {
    width: 100% !important
}

.form-edit-profile label {
    display: block;
    padding-right: 1em;
} 

.form-edit-profile textarea {
    width: 100%; 
}

/* .container, .container-sm {
    margin-top: auto;
    overflow-y: auto !important;
} */

/* Media query: tablets and larger (800px and up) */
@media screen and (min-width: 800px) {
    
    .form-control {
        width: 70%;
    }
    
    .navbar-nav {
        gap: 30px;
    }

}

/* Media query: larger screens (1024px and up) */
@media screen and (min-width: 1024px) {
    
    .form-control {
        width: 50%;
    }

}

/* Media query: even larger screens (1200px and up) */
@media screen and (min-width: 1400px) {
    
    .container {
        max-width: 1100px
    }

}