{% extends "base.html" %}

{% block content %}
<div class="container-fluid m-auto overflow-auto">
    <div class="row justify-content-center">
        <div class="col-md-8 m-3">
            <h3 class="my-2 text-center orange">500 - Internal Server Error</h3>
            <h5 class="my-2 text-center grey">Sorry, something went wrong. This will be fixed soon. </h5>
            <div class="my-2 text-center">
                <a class="btn btn-edit" role="button" href="{% url 'home' %}">Home</a>
            </div>
        </div>
</div>

{% endblock %}