body {
    font: 'Inter', sans-serif;
    background-color: #F9FAFC;
}

footer p {
    font-size: .65em;
    color: #011a2e;
    padding-top: .85em;
}

footer a {
    color: #011a2e;
    font-size: 1.2em;
}

footer a:hover {
    color: #055da5;
}

.navbar-brand {
    margin-left: 1em;
}

.navbar-toggler {
    padding: .2rem .5rem;
    font-size: 1.4rem !important;
    line-height: 1 !important;
    border: 2px solid #727272 !important;
}

.navbar-nav {
    gap: 30px;
}

.nav-link {
    color: #011a2e;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 500;
}

.nav-link:hover {
    color: #ffaa72;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}

.nav-pills .nav-link {
    border-radius: .85rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fcfcfc;
    background-color: #ff6600;
}


.btn-signup,
.btn-edit {
    color: #fcfcfc;
    background-color: #ff6600;
}

.btn-signup:hover,
.btn-signup:hover {
    color: #ff6600;
    background-color: #fcfcfc;
}

.link {
    color: #ff6600 !important;
}

.link:hover {
    color: #011a2e !important;
}

.thin {
    font-weight: 300;
}

.container {
    padding-bottom: 12px;
}

.footer-bg {
    background-color: #555453;
}

.main-bg {
    background-color: #fdfdfd;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #ffaa72;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}