{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid m-auto">
    <div class="row justify-content-center">
        <div class="col-md-8 my-2">
            <h4 class="orange"><strong>{{ cave.cave_name }}</strong></h4>
            <div class="form-group py-2 align-items-center">
                <div class="py-2">
                    <h5 class="grey mb-1">General Info</h5>
                    <hr class="mt-0 mb-1">
                    <div class="row mb-3">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <p>Author: {{ cave.user.user_profile.display_name }}
                            </p>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <p>Relevance Surveyed: {{ cave.get_relevance_surveyed_display }}</p>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <p>Relevance Factor: {{ cave.get_relevance_factor_display }}</p>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <p>Lithology: {{ cave.lithology }}</p>
                        </div>
                    </div>
                    <h5 class="grey mb-1">Spacial Info</h5>
                    <hr class="mt-0 mb-1">
                    <div class="row mb-3">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <p>Latitude: {{ cave.latitude }}º</p>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <p>longitude: {{ cave.longitude }}º</p>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <p>Elevation: {{ cave.elevation }} m</p>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <p>Geomorphologic Unit: {{ cave.get_geomorph_unit_display }}</p>
                        </div>
                    </div>

                    <h5 class="grey mb-1">Cave Metrics Info</h5>
                    <hr class="mt-0 mb-1">
                    <div class="row mb-3">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <p>Lenght: {{ cave.length }} m</p>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <p>Depth: {{ cave.depth }} m</p>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <p>Area: {{ cave.area }} m²</p>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <p>Volume: {{ cave.volume }} m³</p>
                        </div>
                    </div>

                    <h5 class="grey mb-1">Description</h5>
                    <hr class="mt-0 mb-1">
                    <div class="row mb-3">
                        <div class="col-12 col-md-8 px-2">
                            {% if cave.description %}
                            <p>{{ cave.description | safe }}</p>
                            {% else %}
                            <p>No description was provided by the author.</p>
                            {% endif %}
                        </div>
                    </div>

                    <h5 class="grey mb-1">Cave Map</h5>
                    <hr class="mt-0 mb-1">
                    <div class="row mb-3">
                        <div class="col-12 px-2">
                            {% if cave.cave_name and cave.cave_maps.url %}
                            <img src="{{ cave.cave_maps.url }}" alt="{{ cave.cave_name }}'s map"
                                class="profile-pic img-fluid">
                            {% else %}
                            <p>No cave map was provided by the author.</p>
                            {% endif %}
                        </div>
                    </div>

                    {% if cave.user == request.user or request.user.is_superuser  %}
                    <div class="d-md-flex justify-content-center">
                        <div class="px-3 py-2 text-center">
                            <button type="submit" class="btn btn-edit">Edit Cave</button>
                        </div>
                        <div class="px-3 py-2 text-center">
                            <a href="{% url 'profile_page' username=request.user.username %}" class="btn btn-edit"
                                role="button">Delete Cave</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}